/********** Template CSS **********/
:root {

    --tertiary: #555555;
    --primary: #FFC300;
    --secondary: #fff5d5;
    --light: #F7FAFF;
    --dark: #19191a;

    --start: #ffcc24;
    --end: #FFC300;
}

.text-light {
    color: var(--light) !important;
}

.carousel-heading {
    font-size: 80px;
}

.carousel-description {
    font-size: 14px;
}

.navlink-custom {
    color: black !important;
    font-weight: 500 !important;
}

/* /////////////////////////////////////////////////////////////////// */
.service-item {
    position: relative;
    height: 350px;
    padding: 30px 25px;
    margin: 10px;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, .05);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item .service-icon {
    margin: 0 auto 20px auto;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    background: url(../img/icon-shape-primary.png) center center no-repeat;
    transition: .5s;
}

.service-item:hover .service-icon {
    color: var(--primary);
    background: url(../img/icon-shape-white.png);
}

.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover h5,
.service-item:hover p {
    color: var(--light);
}

.service-item a.btn {
    position: relative;
    display: flex;
    color: var(--primary);
    transition: .5s;
    z-index: 1;
}

.service-item:hover a.btn {
    color: var(--primary);
}

.service-item a.btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: #DDDDDD;
    transition: .5s;
    z-index: -1;
}

.service-item:hover a.btn::before {
    width: 100%;
    background: var(--light);
}

.center-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-cont {
    background-color: var(--secondary);
    padding: 15px 40px;
    border-radius: 100px;
    margin-bottom: 30px;
    margin-top: 50px;
}

/* 
---------------------------------------------
About Style
--------------------------------------------- 
*/

.about-us {
    position: relative;
    padding: 0px;
    margin-top: 130px;
}

.about-us:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 84%;
    height: 100%;
    background-color: var(--secondary);
    content: '';
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;
}

.accordion {
    margin-top: -40px;
    margin-bottom: -40px;
    background-color: var(--primary);
    border-radius: 40px;
    padding: 80px 50px 50px 50px;
}

.accordion-item {
    background-color: #fff;
    border-radius: 40px !important;
    margin-bottom: 30px;
    border: none;
}

.accordion-item .accordion-button {
    outline: none;
    box-shadow: none;
    border-radius: 40px !important;
}

.accordion-button:not(.collapsed) {
    color: var(--primary);
    background-color: #fff;
}

h2.accordion-header button {
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 600;
}

.accordion-button::after {
    font-size: 18px;
    font-weight: 500;
    background-image: none;
    content: '+';
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: var(--primary);
    color: #fff;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    line-height: 32px;
    content: '-';
}

.accordion-body {
    padding: 0px 25px 30px 25px;
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}

.about-us .section-heading {
    margin-left: 60px;
    margin-bottom: 0px;
}

.about-us .section-heading .main-button {
    margin-top: 50px;
}

/* 
---------------------------------------------
Facts Style
--------------------------------------------- 
*/

.fun-facts {
    position: relative;
    top: 200px;
    padding: 50px 0px 10px 0px;
    overflow: hidden;
    margin-bottom: 200px;
}

.fun-facts:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 95%;
    height: 100%;
    background-color: var(--primary);
    content: '';
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
}

.fun-facts:after {
    background: url(../images/contact-dec-01.png);
    position: absolute;
    left: 15%;
    opacity: 0.5;
    top: 0;
    width: 318px;
    height: 119px;
    content: '';
    z-index: 2;
}

.fun-facts .counter {
    text-align: center;
    margin-bottom: 40px;
}

.fun-facts h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}

.fun-facts h2::after {
    content: '+';
    margin-left: 5px;
}

.fun-facts p {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-top: 15px;
}

/* 
footer */

.bg-map {
    background: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}