.team-card {
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 10px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, .05);
    border-radius: 10px;
}

.team-background {
    background-color: var(--primary);
    height: 120px;
    width: 100%;
    margin-bottom: -100px;
    border-radius: 10px 10px 0px 0px;
}

.team-picture-cont {
    background-color: rgb(253, 253, 253);
    padding: 10px;
    border-radius: 1000px;
    width: max-content;
    margin: auto;
}

.team-picture {
    width: 150px;
    height: 150px;
    border-radius: 1000px;
    background-color: var(--primary);
    background-size: cover;
    background-position: center;
}

.team-detail-cont {
    background-color: white;

}

.team-name {
    font-size: 32px;
    font-weight: bold;
    margin: 0px;
}

.team-designation {
    font-size: 18px;
    margin: 0px;
}

.team-expirence {
    margin-top: 10px;
    font-size: 14px;
}



.testimonial-card {
    height: 100%;
    width: 100%;
    margin: 10px;
    padding-bottom: 20px;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, .05);
    border-radius: 10px;
}

.testimonial-content {
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    text-align: justify;

    height: 140px;
    text-overflow: ellipsis;
}

/* .rectangle {
    height: 30px;
    width: 100%;
    background-color: var(--secondary);
} */

.kite {
    height: 40px;
    width: 40px;
    background-color: var(--secondary);
    rotate: 45deg;
    position: absolute;
    top: 130px;
    left: 60px;
    z-index: -1;
}

.testimonial-issuer {
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;

}

.quote-big {
    background-color: var(--primary);
    font-size: 24px;
    padding: 5px;
    border-radius: 1000px;
    position: absolute;
    left: 25px;
}

.testimonial-logo {
    height: 100px;
    width: 100px;
    border-radius: 1000px;
}

.testimonial-about {
    flex: 1;
    padding: 10px;
    margin-left: 10px;
    margin-right: 20px;
}

.testimonial-name {
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
    padding: 0px;
}

.testimonial-company {
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

.align-right {
    margin-top: 20px;
    text-align: right;
}



/* 
Get quotation */

.quot-cont {
    background-color: white;
    border-radius: 10px;
}

.quot-header {
    background-color: var(--primary);
    padding: 20px 32px;
    border-radius: 10px 10px 0px 0px;
    color: var(--dark);
}

.quot-heading {
    font-size: 24px;
    font-weight: 600;
}

.quot-form {
    /* padding: 20px; */
}


.testi-cont {}